.left {
  width: 50%;
  float: left;
}

.right {
  margin-left: 10%;
  width: calc(50% - 32px);
  float: right;
}

.actions {
  margin-top: 10px;
  width: 100%;
  height: 30px;
}

.content {
  margin-top: 10px;
  left: 0;
  width: 100%;
  height: auto;
}

.settings {
  display: inline-block;
}

.settings div {
  width: 50%;
  float: left;
  height: 30px;
  margin-bottom: 5px;
}
