<div class="actions">
  <div class="left">
    <button (click)="areaDraw.startDrawing()">
      New path
    </button>
  </div>

  <div class="right">
    <button (click)="reset()">
      Reset
    </button>

    <button (click)="clean()">
      Clean
    </button>
  </div>
</div>

<div class="content">
  <div class="left">
    <div class="settings">

      <div>
        <label>Image URL</label>
        <input type="text"
               [(ngModel)]="imageUrl"
               (keyup)="reset()">
      </div>

      <div>
        <label>Update while moving</label>
        <input type="checkbox"
               [(ngModel)]="updateWhileMoving">
      </div>

      <div>
        <label>Allow delete</label>
        <input type="checkbox"
               [(ngModel)]="allowDelete">
      </div>

      <div>
        <label>Stroke Color</label>
        <input type="text"
               [(ngModel)]="strokeColor">
      </div>

      <div>
        <label>Fill Color</label>
        <input type="text"
               [(ngModel)]="fillColor">
      </div>

      <div>
        <label>Handler Fill Color</label>
        <input type="text"
               [(ngModel)]="handlerFillColor">
      </div>

      <div>
        <label>Handler Stroke Color</label>
        <input type="text"
               [(ngModel)]="handlerStrokeColor">
      </div>
    </div>

    <div #areaDraw="canvasAreaDraw"
         (activePathChange)="onSceneChange($event)"
         (pathAdded)="onAddPath()"
         (pathDeleted)="onRemovePath($event)"
         [defaultPaths]="defaults"
         [defaultActivePathIndex]="1"
         [allowDelete]="allowDelete"
         [notifyWhileMoving]="updateWhileMoving"
         [strokeColor]="strokeColor"
         [fillColor]="fillColor"
         [handlerFillColor]="handlerFillColor"
         [handlerStrokeColor]="handlerStrokeColor"
         [canvasAreaDraw]="imageUrl"></div>
  </div>

  <div class="right">
    <div #area2Draw="canvasAreaDraw"
         [strokeColor]="strokeColor"
         [fillColor]="fillColor"
         [handlerFillColor]="handlerFillColor"
         [handlerStrokeColor]="handlerStrokeColor"
         [canvasAreaDraw]="image2Url"></div>
  </div>
</div>

